<!-- /templates/index.liquid -->
{% comment %}
  Define your section markup, using `section.settings.[setting_name]` to access specific settings.
  * Sections do not have access to global liquid variables.
{% endcomment %}

{% assign slider_enabled = true %}

  {% section 'slideshow' %}

  <div class="hero__header">
   <div class="action-area">
     {% include 'action-bar' %}
   </div>
 </div>
</div>
{{ content_for_index }}
  <div class="index-section--flush powr-social-feed" id="5eab59f0_1607404236"></div> <div class="index-section--flush powr-social-feed" id="4e528633_1607403461"></div>